*{
    padding: 0px;
    margin: 0px;
    font-family: arial;
}
.div-container-flex {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}
.registro {
    width: 300px;
    background-color: #F0E9D2;
}
.formulario {

}
.formulario__h2 {
    background-color: #E6DDC4;
    text-transform: uppercase;
    text-align: center;
}
.formulario__div{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__label{
    display: block;
}
.formulario__input{
    display: block;
    outline: none;
    border: none;
    border-radius: 2px;
    height: 30px;
    width: 80%;
}
.formulario__button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #395853;
    border-radius: 5px;
    background-color: #678983;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.formulario__button:hover{
    background-color: #456861;
    transition: .4s;
}

/*ESTILOS TABLA DATOS*/
.table{
    background-color: #faf4df;
    width: 750px;
}
.table__caption {
    text-transform: uppercase;
    background-color: #E6DDC4;
    font-weight: 600;
}
.table__thead{
    background-color: #E6DDC4;
}
.table__tbody {
    background-color: #F0E9D2;
}
.table__container-buttons{
    display: flex;
    justify-content: flex-end;
}
.table__button{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #678983;
    border: 1px solid #395853;
    color: black;
}
.table__button:hover {
    background-color: #456861;
    transition: .4s;
}
.table__button--modified {
    margin-right: 8px;
}